<div class="btSiteFooter">

  <div class="bt_bb_wrapper">
    <section id="bt_bb_section63a39c498f8e4"
      data-background_image_src="'../assets/images/background_footer_02.jpg'"
      class="bt_bb_section bt_bb_color_scheme_5 bt_bb_layout_boxed_1200 bt_bb_vertical_align_top btLazyLoadBackground bt_bb_background_image bt_bb_top_spacing_medium bt_bb_bottom_spacing_medium bt_bb_section_with_top_coverage_image"
      style="background-image:url('../assets/images/blank.gif'); --section-primary-color:#191919; --section-secondary-color:#bcf3f8;"
      data-bt-override-class="null">
      <div class="bt_bb_port">
        <div class="bt_bb_cell">
          <div class="bt_bb_cell_inner">
            <div class="bt_bb_row">
              <div
                class="bt_bb_column col-xl-3 bt_bb_vertical_align_top bt_bb_align_left bt_bb_padding_normal bt_bb_animation_fade_in animate bt_bb_shape_inherit"
                data-width="3" data-bt-override-class="{}">
                <div class="bt_bb_column_content">
                  <div class="bt_bb_column_content_inner">
                    <div
                      class="bt_bb_separator bt_bb_border_style_none bt_bb_bottom_spacing_extra_large bt_bb_hidden_xs bt_bb_hidden_ms"
                      data-bt-override-class="null"></div>
                    <div
                      class="bt_bb_floating_image bt_bb_floating_image_horizontal_position_left bt_bb_floating_image_vertical_position_top bt_bb_floating_image_animation_delay_default bt_bb_floating_image_animation_duration_default bt_bb_floating_image_animation_style_ease_out bt_bb_hidden_xs bt_bb_hidden_ms bt_bb_hidden_sm"
                      style="top: 20%; left: -10%;" data-speed="1.2">
                      <div class="bt_bb_floating_image_image" data-speed="1.2">
                        <div class="bt_bb_image" data-bt-override-class="null"><span><img
                              src="../assets/images/line_dots.png"
                              title="Dots"
                              alt="../assets/images/line_dots.png"></span>
                        </div>
                      </div>
                    </div>
                    <div class="bt_bb_separator bt_bb_border_style_none bt_bb_bottom_spacing_medium"
                      data-bt-override-class="null"></div>
                    <div
                      class="bt_bb_image bt_bb_shape_square bt_bb_align_inherit bt_bb_hover_style_simple bt_bb_content_display_always bt_bb_content_align_middle"
                      data-bt-override-class="null"><span>
                        <!-- <img
                          src="../assets/images/blank.gif"
                          data-image_src="../assets/images/logo_orange.png"
                          title="logo_orange"
                          alt="../assets/images/logo_orange.png"
                          class="btLazyLoadImage"> -->

                          <img
                          src="../assets/images/blank.gif"
                          data-image_src="../assets/images/logo.png"
                          title="logo_orange"
                          alt="../assets/images/logo.png"
                          class="btLazyLoadImage">
                        
                        </span></div>
                    <div class="bt_bb_separator bt_bb_border_style_none bt_bb_bottom_spacing_normal"
                      data-bt-override-class="null"></div>
                    <div
                      class="bt_bb_icon bt_bb_color_scheme_2 bt_bb_style_outline bt_bb_shape_circle bt_bb_size_small bt_bb_align_inherit"
                      style="--icon-primary-color:#191919; --icon-secondary-color:#ffffff;"
                      data-bt-override-class="null"><a href="https://twitter.com/bold_themes" target="_blank"
                        data-ico-fontawesome="&#xf099;" class="bt_bb_icon_holder"></a></div>
                    <div
                      class="bt_bb_icon bt_bb_color_scheme_2 bt_bb_style_outline bt_bb_shape_circle bt_bb_size_small bt_bb_align_inherit"
                      style="--icon-primary-color:#191919; --icon-secondary-color:#ffffff;"
                      data-bt-override-class="null"><a href="https://www.instagram.com/bold_themes/" target="_blank"
                        data-ico-fontawesome="&#xf16d;" class="bt_bb_icon_holder"></a></div>
                    <div 
                      class="bt_bb_icon bt_bb_color_scheme_2 bt_bb_style_outline bt_bb_shape_circle bt_bb_size_small bt_bb_align_inherit"
                      style="--icon-primary-color:#191919; --icon-secondary-color:#ffffff;"
                      data-bt-override-class="null"><a href="https://www.facebook.com/boldthemes/" target="_blank"
                        data-ico-fontawesome="&#xf09a;" class="bt_bb_icon_holder"></a></div>
                    <div class="bt_bb_separator bt_bb_border_style_none bt_bb_bottom_spacing_normal"
                      data-bt-override-class="null"></div>
                  </div>
                </div>
              </div>
              <div
                class="bt_bb_column col-xl-3 bt_bb_vertical_align_top bt_bb_align_left bt_bb_padding_normal bt_bb_animation_fade_in animate bt_bb_shape_inherit"
                data-width="3" data-bt-override-class="{}">
                <div class="bt_bb_column_content">
                  <div class="bt_bb_column_content_inner">
                    <div
                      class="bt_bb_separator bt_bb_border_style_none bt_bb_bottom_spacing_extra_large bt_bb_hidden_xs bt_bb_hidden_ms"
                      data-bt-override-class="null"></div>
                    <div class="bt_bb_separator bt_bb_border_style_none bt_bb_bottom_spacing_medium"
                      data-bt-override-class="null"></div>
                      <header
                      class="bt_bb_headline bt_bb_font_weight_bold bt_bb_dash_none bt_bb_size_extrasmall bt_bb_align_inherit"
                      style="font-family:'Nunito Sans'" data-bt-override-class="{}">
                      <h5 style="font-family:'Nunito Sans'" class="bt_bb_headline_tag"><span
                          class="bt_bb_headline_content"><span>About Us</span></span></h5>
                    </header>
                    <div class="bt_bb_separator bt_bb_border_style_none bt_bb_bottom_spacing_small"
                      data-bt-override-class="null"></div>
                    <div class="bt_bb_custom_menu bt_bb_direction_vertical">
                      <div class="menu-quick-links-container">
                        <ul id="menu-quick-links" class="menu">
                          <li id="menu-item-2196"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2196"><a
                            routerLink="/branches">Branches</a></li>
                          <li id="menu-item-2197"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2197"><a
                            routerLink="/ourteams">Our Teams</a></li>
                          <li id="menu-item-2198"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2198"><a
                            routerLink="/gallery">Gallery</a></li>                         
                        </ul>
                      </div>
                    </div>
                    <div class="bt_bb_separator bt_bb_border_style_none bt_bb_bottom_spacing_normal"
                      data-bt-override-class="null"></div>
                  </div>
                </div>
              </div>
              <div
                class="bt_bb_column col-xl-3 bt_bb_vertical_align_top bt_bb_align_left bt_bb_padding_normal bt_bb_animation_fade_in animate bt_bb_shape_inherit"
                data-width="3" data-bt-override-class="{}">
                <div class="bt_bb_column_content">
                  <div class="bt_bb_column_content_inner">
                    <div
                      class="bt_bb_separator bt_bb_border_style_none bt_bb_bottom_spacing_extra_large bt_bb_hidden_xs bt_bb_hidden_ms bt_bb_hidden_sm"
                      data-bt-override-class="null"></div>
                    <div class="bt_bb_separator bt_bb_border_style_none bt_bb_bottom_spacing_medium"
                      data-bt-override-class="null"></div>
                    <header
                      class="bt_bb_headline bt_bb_font_weight_bold bt_bb_dash_none bt_bb_size_extrasmall bt_bb_align_inherit"
                      style="font-family:'Nunito Sans'" data-bt-override-class="{}">
                      <h5 style="font-family:'Nunito Sans'" class="bt_bb_headline_tag"><span
                          class="bt_bb_headline_content"><span>Quick Links</span></span></h5>
                    </header>
                    <div class="bt_bb_separator bt_bb_border_style_none bt_bb_bottom_spacing_small"
                      data-bt-override-class="null"></div>
                    <div class="bt_bb_custom_menu bt_bb_direction_vertical">
                      <div class="menu-quick-links-container">
                        <ul id="menu-quick-links" class="menu">
                          <li id="menu-item-2196"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2196"><a
                            routerLink="/services">Services</a></li>
                          <li id="menu-item-2197"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2197"><a
                            routerLink="/appointments">Appointments</a></li>
                          <li id="menu-item-2198"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2198"><a
                            routerLink="/contactus">Contact Us</a></li>                         
                        </ul>
                      </div>
                    </div>
                    <div class="bt_bb_separator bt_bb_border_style_none bt_bb_bottom_spacing_normal"
                      data-bt-override-class="null"></div>
                  </div>
                </div>
              </div>
              <div
                class="bt_bb_column col-xl-3 bt_bb_vertical_align_top bt_bb_align_left bt_bb_padding_30 bt_bb_animation_fade_in animate bt_bb_shape_inherit"
                data-width="3" data-bt-override-class="{}">
                <div class="bt_bb_column_content">
                  <div class="bt_bb_column_content_inner">
                    <div
                      class="bt_bb_separator bt_bb_border_style_none bt_bb_bottom_spacing_extra_large bt_bb_hidden_xs bt_bb_hidden_ms bt_bb_hidden_sm"
                      data-bt-override-class="null"></div>
                    <div
                      class="bt_bb_floating_image bt_bb_floating_image_horizontal_position_right bt_bb_floating_image_vertical_position_top bt_bb_floating_image_animation_delay_100 bt_bb_floating_image_animation_duration_default bt_bb_floating_image_animation_style_ease_out bt_bb_hidden_xs bt_bb_hidden_ms bt_bb_hidden_sm"
                      style=" right: -15%;" data-speed="1.2">
                      <div class="bt_bb_floating_image_image" data-speed="1.2">
                        <div class="bt_bb_image" data-bt-override-class="null"><span><img
                              src="../assets/images/dots.png"
                              title="Dots"
                              alt="../assets/images/dots.png"></span>
                        </div>
                      </div>
                    </div>
                    <div
                      class="bt_bb_floating_image bt_bb_floating_image_horizontal_position_default bt_bb_floating_image_vertical_position_default bt_bb_floating_image_animation_delay_400 bt_bb_floating_image_animation_duration_default bt_bb_floating_image_animation_style_ease_out bt_bb_hidden_xs bt_bb_hidden_ms bt_bb_hidden_sm"
                      style=" top: 10%;" data-speed="1.2">
                      <div class="bt_bb_floating_image_image" data-speed="1.2">
                        <div class="bt_bb_image" data-bt-override-class="null"><span><img
                              src="../assets/images/dots.png"
                              title="Dots"
                              alt="../assets/images/dots.png"></span>
                        </div>
                      </div>
                    </div>
                    <div class="bt_bb_separator bt_bb_border_style_none bt_bb_bottom_spacing_medium"
                      data-bt-override-class="null"></div>
                    <header
                      class="bt_bb_headline bt_bb_font_weight_bold bt_bb_dash_none bt_bb_size_extrasmall bt_bb_align_inherit"
                      style="font-family:'Nunito Sans'" data-bt-override-class="{}">
                      <h5 style="font-family:'Nunito Sans'" class="bt_bb_headline_tag"><span
                          class="bt_bb_headline_content"><span>Newsletter</span></span></h5>
                    </header>
                    <div class="bt_bb_separator bt_bb_border_style_none bt_bb_bottom_spacing_small"
                      data-bt-override-class="null"></div>
                    <div class="bt_bb_contact_form_7">
                      <div role="form" class="wpcf7" id="wpcf7-f1539-p1669-o1" lang="en-US" dir="ltr">
                        <div class="screen-reader-response">
                          <p role="status" aria-live="polite" aria-atomic="true"></p>
                          <ul></ul>
                        </div>
                        <form action="/coco/home/home-02/#wpcf7-f1539-p1669-o1" method="post" class="wpcf7-form init"
                          novalidate="novalidate" data-status="init">
                          <div style="display: none;">
                            <input type="hidden" name="_wpcf7" value="1539" />
                            <input type="hidden" name="_wpcf7_version" value="5.6.4" />
                            <input type="hidden" name="_wpcf7_locale" value="en_US" />
                            <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f1539-p1669-o1" />
                            <input type="hidden" name="_wpcf7_container_post" value="1669" />
                            <input type="hidden" name="_wpcf7_posted_data_hash" value="" />
                            <input type="hidden" name="_wpcf7_recaptcha_response" value="" />
                          </div>
                          <div class="btNewsletter btDark">
                            <div class="btNewsletterColumn"><span class="wpcf7-form-control-wrap"
                                data-name="your-email"><input type="email" name="your-email" value="" size="40"
                                  class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                  aria-required="true" aria-invalid="false" placeholder="Your email" /></span></div>
                            <div class="btNewsletterButton"><input type="submit" value="SUBSCRIBE"
                                class="wpcf7-form-control has-spinner wpcf7-submit" /></div>
                          </div>
                          <div class="wpcf7-response-output" aria-hidden="true"></div>
                        </form>
                      </div>
                    </div>
                    <div class="bt_bb_separator bt_bb_border_style_none bt_bb_bottom_spacing_normal"
                      data-bt-override-class="null"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bt_bb_section_top_section_coverage_image"><img
          src="../assets/images/image_top_01.png"
          alt="bt_bb_section_top_section_coverage_image" /></div>
    </section>
  </div>
  <footer class="btLightSkin"></footer>
</div><!-- /btSiteFooter -->