<div class="btVerticalHeaderTop">
    <div class="btVerticalMenuTrigger">&nbsp;<div class="bt_bb_icon" data-bt-override-class="null">
        <a href="#" target="_self" data-ico-fa="" class="bt_bb_icon_holder"></a></div>
    </div>

    <div class="btLogoArea">
        <div class="logo">
            <span>
                <a href="/"><img class="btMainLogo" data-hw="2.1111111111111" src="../assets/images/logo_blue.png"
                        alt="Coco">
                    <img class="btAltLogo" src="../assets/images/logo_blue_black.png" alt="Coco"></a> </span>
        </div><!-- /logo -->
    </div><!-- /btLogoArea -->
</div>
<header id="mainHeader" class="mainHeader btClear gutter ">
    <div class="mainHeaderInner">
        <div class="btLogoArea menuHolder btClear">
            <div class="port">
                <div class="btHorizontalMenuTrigger">&nbsp;<div class="bt_bb_icon" data-bt-override-class="null"><a
                            href="#" target="_self" data-ico-fa="" class="bt_bb_icon_holder"></a></div>
                </div>
                <div class="logo">
                    <span>
                        <a href="/">
                            <!-- <img class="btMainLogo" data-hw="2.1111111111111" src="../assets/images/logo_blue.png" alt="Coco"> -->
                            <img class="btMainLogo" data-hw="2.1111111111111" src="../assets/images/logo.png" alt="Coco">
                            <!-- <img class="btAltLogo" src="../assets/images/logo_blue_black.png" alt="Coco"> -->
                            <img class="btAltLogo" src="../assets/images/logo.png" alt="Coco">
                        </a> </span>
                </div><!-- /logo -->
                <div class="menuPort">
                    <div class="topBarInMenu">
                        <div class="topBarInMenuCell">
                            <div class="btButtonWidget btFilled btWithLink"><a href="#" target="_self"
                                    class="btButtonWidgetLink">
                                    <div class="btIconWidgetIcon"><span data-ico-fontawesome=""
                                            class="bt_bb_icon_holder"></span></div>
                                    <div class="btIconWidgetText"><span class="btButtonWidgetText">+966 112 544 467</span>
                                    </div>
                                </a></div>
                        </div><!-- /topBarInMenu -->
                    </div><!-- /topBarInMenuCell -->
                    <nav>
                        <ul id="menu-primary-menu" class="menu">
                            <li id="menu-item-44"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-page-ancestor current-menu-ancestor current-page-parent current_page_ancestor menu-item-44">
                                <a routerLink="/">Home</a>
                            </li>
                            <li id="menu-item-2334"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2334">
                                <a routerLink="/services">Services</a>
                            </li>
                            <li id="menu-item-40"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-40">
                                <div class="subToggler"></div><a routerLink="/aboutus">Abount Us</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-1197"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1197">
                                        <a routerLink="/branches">Branches</a>
                                    </li>
                                    <li id="menu-item-1198"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1198">
                                        <a routerLink="/ourteams">Our Teams</a>
                                    </li>
                                    <li id="menu-item-1199"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1199">
                                        <a routerLink="/gallery">Gallery</a>
                                    </li>
                                </ul>
                            </li>
                            <li id="menu-item-41"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-41">
                                <a routerLink="/contactus">Contact Us</a>
                            </li>
                            <li id="menu-item-1878"
                                class="btMenuWideDropdown menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1878 btMenuWideDropdownCols-3">
                                <a routerLink="/bookappointment">Appointment</a>
                            </li>
                        </ul>
                    </nav>
                </div><!-- .menuPort -->
            </div><!-- /port -->
        </div><!-- /menuHolder / btBelowLogoArea -->
    </div><!-- / inner header for scrolling -->
</header>